
#--- Ch.$(N) Polarity ---------------
record(bo, "$(P):CH$(N):POLARITY") {
    field(DESC, "")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT), $(N), 0)OUT_POL")
    field(ZNAM, "INV")
    field(ONAM, "NORM")
    field(PINI, "0")
    info(asyn:READBACK, "1")
}
record(bi, "$(P):CH$(N):POLARITY_RBV") {
    field(DESC, "")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), $(N), 0)OUT_POL")
    field(ZNAM, "INV")
    field(ONAM, "NORM")
    field(SCAN, "I/O Intr")
}


